{{ define "main" }}

<div class="flex h-screen relative">

  <section
    class="w-full h-full md:min-w-[400px] md:w-1/4 bg-slate-50 dark:bg-slate-800 border-r border-slate-200 dark:border-slate-700 flex flex-col py-3 overflow-y-auto scroll-area">
    <a href="{{ .Permalink }}">
      <h2 class="font-bold mb-5 py-1 pl-12 pr-3 md:px-3">{{ .Title }}</h2>
    </a>
    {{- partial "search.html" . -}}
    <div class="space-y-2.5">
      {{ range .Data.Pages.ByDate.Reverse -}}
      <a class="article block px-3 py-4 hover:bg-slate-200 dark:hover:bg-slate-700" href="{{ .RelPermalink }}">

        <h3 class="text-lg font-semibold mb-0.5">
          Edition #{{ .Params.edition }} du {{ .Date | time.Format ":date_long" }}</h3>
        <div class="text-sm text-slate-500 dark:text-slate-400 line-clamp-2">
          Environs {{ .Params.attendees }} personnes étaient présentes pour cette éditon.
        </div>
      </a>
      {{ end -}}
    </div>
  </section>


  <div class="overflow-y-auto h-screen w-full">
    <article class="px-6 py-20 w-full mx-auto prose lg:prose-lg h-fit dark:prose-invert prose-img:mx-auto">
      {{ $title := .Params.title }}
      <h1 class="!mb-2">{{ $title }}</h1>
      {{ .Content }}
    </article>
  </div>

</div>

{{ end }}
