{{ define "load_page_assets" }}

  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

  {{ $paginator := .Paginate $pages }}

  {{ range $paginator.Pages }}
    {{ with .Content }}{{ end }}
    {{ $page_css := .Scratch.Get "css" }}
    {{ with $page_css }}
      {{ $css_list := $.Scratch.Get "css" }}
      {{ . | merge $css_list | $.Scratch.Set "css" }}
    {{ end }}
    {{ $page_js := .Scratch.Get "js" }}
    {{ with $page_js }}
      {{ $js_list := $.Scratch.Get "js" }}
      {{ . | merge $js_list | $.Scratch.Set "js" }}
    {{ end }}
  {{ end }}

  {{ $paginator | .Scratch.Set "paginator" }}

{{ end }}

{{ define "main" }}

<article>
  <div class="post-content">
      {{ .Content }}
  </div>
</article>
{{ end }}
